.App {
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.backgroundImg {
  max-width: 100%;
}

.fish {
  position: absolute;
  align-self: center;
  width: 4%;
}

.ideaInput {
  position: absolute;
}
